.main-container {
  width: 640px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  width: 640px;
  grid-template-columns: repeat(16, 1fr); /* This will be changed dynamically with JS */
  /*gap: 1px;*/
}

.grid-item {
  width: 100%;
  padding-bottom: 100%; /* Keeps the divs square */
  border: 1px solid #ccc;
}

.hovered {
  background-color: #000;
}
